{% extends 'base.html' %}

{% block title %}
注册
{% end %}

{% block content %}
<div>
    <input type="button" value="开启摄像头" onclick="getMedia()">
    <video id="video" height="200px;" width="200px;"></video>
</div>
<div>
    <input type="button" value="拍照" onclick="takePhoto()">
    <canvas id="canvas" height="200px;" width="200px;"></canvas>
</div>
<form action="" method="post">
    <p><input type="hidden" id="face" name="face"></p>
    <p>姓名：<input type="text" name="username"></p>
    <p><input type="submit" value="提交"></p>
</form>
{% end %}

{% block js %}
<script>
    function getMedia() {
        let constraints = {
            video: {width: 200, height: 200},
            audio: true
        };
        //获得video摄像头区域
        let video = document.getElementById("video");
        //这里介绍新的方法，返回一个 Promise对象
        // 这个Promise对象返回成功后的回调函数带一个 MediaStream 对象作为其参数
        // then()是Promise对象里的方法
        // then()方法是异步执行，当then()前的方法执行完后再执行then()内部的程序
        // 避免数据没有获取到
        let promise = navigator.mediaDevices.getUserMedia(constraints);
        promise.then(function (MediaStream) {
            video.srcObject = MediaStream;
            video.play();
        });
    }

    function takePhoto() {
        //获得Canvas对象
        let video = document.getElementById("video");
        let canvas = document.getElementById("canvas");
        let ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, 200, 200);
        var face = document.getElementById("face");
        var canvas1 = document.getElementById('canvas');
        face.value = canvas1.toDataURL('image/png')
    }
</script>
{% end %}